<launch>

    <master auto="start"/>

    <node name="ubiquitous_display_pantilt_server" pkg="behavioral_model" type="neuro_ud_pantilt_without_joint_states.py" output="screen" />

    <node name="projection_service_server" pkg="behavioral_model" type="neuro_projection_server.py" output="screen" />
</launch>
