<launch>
  
  <master auto="start"/>
  <!-- MAP SERVER -->
  <arg name="map_file" default="$(find custom_2dnav)/map/corridor_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
  </node>

  <!-- AMCL -->
  <include file="$(find custom_2dnav)/launch/amcl.launch"/>

  <!-- MOVE BASE -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- COST MAP -->
    <rosparam file="$(find custom_2dnav)/config/costmap/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find custom_2dnav)/config/costmap/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find custom_2dnav)/config/costmap/local_costmap.yaml" command="load" />
    <rosparam file="$(find custom_2dnav)/config/costmap/global_costmap.yaml" command="load" />

    <!-- BASE GLOBAL PLANNER -->
    <rosparam file="$(find custom_2dnav)/config/planner/global/navfn_planner.yaml" command="load" />
    <!-- BASE LOCAL PLANNER -->
    <rosparam file="$(find custom_2dnav)/config/planner/local/dwa_planner.yaml" command="load" />
    <!-- RECOVERY -->
    <rosparam file="$(find custom_2dnav)/config/planner/recovery_behaviors.yaml" command="load"/>

    <!-- MOVE BASE -->
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
    <param name="max_planning_retries" value="10" />
    <param name="oscillation_timeout" value="10.0" />
    <param name="clearing_rotation_allowed" value="true" />

    <!-- remap cmd_vel topic for gazebo -->
    <remap from="cmd_vel" to="/cmd_vel"/>
	<remap from="odom" to="/odom"/>
  </node>
    <!-- launch merger lrf -->
    <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
      <param name="destination_frame" value="base_scan"/>
      <param name="cloud_destination_topic" value="/merged_cloud"/>
      <param name="scan_destination_topic" value="/scan"/>
      <param name="laserscan_topics" value ="/front_laser_scan /rear_laser_scan" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->

      <param name="angle_min" value="-3.14"/>
      <param name="angle_max" value="3.14"/>
      <param name="angle_increment" value="0.0058"/>
      <param name="scan_time" value="0.0333333"/>
      <param name="range_min" value="0.30"/>
      <param name="range_max" value="50.0"/>
    </node>

    <!-- launch leg_detctor -->
    <node pkg="leg_detector" type="leg_detector" name="leg_detector" args="scan:=scan $(find leg_detector)/config/trained_leg_detector.yaml" output="screen"/>

</launch>
